<div class="animate__animated animate__fadeIn">
    <h2>Por País!</h2>
    <hr />
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Buscar por pais">
            </app-pais-input>
        </div>
    </div>
    <ul class="list-group" *ngIf="mostrarSugerencia">
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
            <a class="nav-link" [routerLink]="['/pais',pais.cca3]">{{pais.name.common}}</a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="nav-link" (click)="buscarSugerido(termino)">Buscar "{{termino}}"</a>
        </li>
    </ul>
    <hr />
    <div class="alert alert-danger" *ngIf="hayError">
        No se encontró nada con el término {{termino}}
    </div>

    <div *ngIf="paises.length>0" class="row">
        <div class="col">
            <app-pais-table [paises]="paises"></app-pais-table>
        </div>
    </div>
</div>